# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.github/
.ruff_cache/

# Env
.env
.env.local
venv/
ENV/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Redis
*.rdb

# Local configs
config/settings/local.py
config/settings/dev.py
