version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - main_net

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    networks:
      - main_net

  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    env_file:
      - .env
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
      - media_volume:/code/media
    depends_on:
      - db
      - redis
    networks:
      - main_net

  # --- NAYA SERVICE ADDED ---
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/code/staticfiles
      - media_volume:/code/media
    depends_on:
      - web
    networks:
      - main_net

  worker:
    build: .
    command: celery -A config worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/code
    networks:
      - main_net

  beat:
    build: .
    command: celery -A config beat --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/code
    networks:
      - main_net

volumes:
  db_data:
  redis_data:
  static_volume:
  media_volume:

networks:
  main_net: