<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>QuickDash</h3>
                <p>Fastest delivery in town.</p>
            </div>
            <div class="footer-column">
                <h3>Links</h3>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/support.html">Support</a></li>
                    <li><a href="/orders.html">My Orders</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contact</h3>
                <p>support@quickdash.com</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; {% now "Y" %} QuickDash. All rights reserved.
        </div>
    </div>
</footer>