{% extends "base.html" %}
{% load static %}

{% block title %}Home - QuickDash{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/index_style.css' %}">
{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="scroll-banner">
        <a href="{% url 'product' %}" class="promo-card">
            <div class="promo-content">
                <h3>Fresh Apples</h3>
                <p>Upto 30% OFF</p>
            </div>
            <i class="fas fa-apple-alt promo-image"></i>
        </a>
        <a href="{% url 'product' %}" class="promo-card dark-theme">
            <div class="promo-content">
                <h3>Snack Combo</h3>
                <p>Only at ₹99</p>
            </div>
            <i class="fas fa-cookie-bite promo-image"></i>
        </a>
    </div>
</section>

<section>
    <div class="section-title">
        <h2>Shop By Category</h2><a href="{% url 'category' %}" class="view-all">View All</a>
    </div>
    <div class="categories">
        </div>
</section>

<section>
    <div class="section-title">
        <h2>Featured Products</h2><a href="#" class="view-all">See All</a>
    </div>
    <div class="scroll-container">
        <div class="product-grid">
            </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/utils/home.js' %}"></script>
<script src="{% static 'assets/js/pages/index.js' %}"></script>
{% endblock %}